.main
{
    overflow: hidden;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
.notesList
{
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:300px;
    display: none;
}
.notesListModal
{
    padding: 0 1rem 1rem 1rem;
}
.noteEditor
{
    padding: 1rem;
    overflow: hidden;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    display: flex;
    flex-flow: column nowrap;
}
.btnNotesContainer
{
    display: flex;
    flex:1;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
.btnNotes
{
    display:inline;
}
@media all and (min-width: 768px) /* Tablet - 768px and larger */
{
    .notesList
    {
        display: inline;
    }
    .btnNotes
    {
        display:none;
    }
    .noteEditor
    {
        left:300px;
    }
}
.headerMenu
{
    margin: 0 0 1rem 0;
    display: flex;
    flex-flow: row nowrap;
    align-items:center;
    user-select: none;
}
.footerMenu
{
    margin: 1rem 0 0 0;
    display: flex;
    align-items: flex-end;
    flex-flow: row nowrap;
    align-items:center;
    justify-content: center;
    user-select: none;
}
.date
{
    text-align: center;
    margin: 1rem 0 0.5rem 0;
    font-size: 0.7rem;
    color: #777;
    font-style: italic;
}
.noteTitleContainer
{
    margin: 0.5rem 0 1rem 0;
}
.noteContentContainer
{
    flex:1;
    margin: 1rem 0 0 0;
    overflow-y: auto;
    overflow-x: hidden;
}
.noteContentContainerEditMode
{
    overflow-y: hidden;
}
.title
{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic
}
.content
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width:100%;
    height:100%;
}
.btn
{
    color:inherit;
    cursor: pointer;
    text-decoration: none;
    border-radius: 20px;
    padding: 0.3rem 1rem;
    border: 1px solid #ccd0d5;
    white-space: nowrap;
}
.btnNew
{
    color: #0686d4;
    background-color: #e3f1f9;
}
.btnAlert
{
    color: #9a0000;
    background-color:#f3dada;
}
.btn:not(:last-child)
{
    margin-right: 1rem;
}
.btn:hover
{
    border: 1px solid #0686d4;
    color: #0686d4;
}