.main
{
    overflow: hidden;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
.notesListContainer
{
    overflow-y: auto;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:300px;
}
.editContainer
{
    overflow: hidden;
    position:absolute;
    top:0;
    right:0;
    left:300px;
    bottom:0;
    display: flex;
    flex-flow: column nowrap;
}
.titleContainer
{
    margin: 1rem;
}
.contentContainer
{
    flex:1;
    margin: 1rem;
}