.main
{
    overflow: hidden;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
}
.notesList
{
    padding: 1rem;
    overflow-y: auto;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:300px;
}
.noteEditor
{
    padding: 1rem;
    overflow: hidden;
    position:absolute;
    top:0;
    right:0;
    left:300px;
    bottom:0;
    display: flex;
    flex-flow: column nowrap;
}
.noteTitle
{
    margin: 0 0 0.5rem 0;
}
.noteContent
{
    flex:1;
    margin: 0.5rem 0 0.5rem 0;
}
.menu
{
    margin: 0.5rem 0 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items:center;
    user-select: none;
}
.button
{
    cursor: pointer;
    margin-bottom: 0.5rem;
    text-decoration: none;
    border-radius: 20px;
    padding: 0.3rem 1rem;
    border: 1px solid #ccd0d5;
    white-space: nowrap;
}
.alert
{
    border: 1px solid red;
    color: #red;
}
.button:hover
{
    border: 1px solid #0686d4;
    color: #0686d4;
}